02_starter_Sites/gatsby-starter-hello-world/node_modules
03_pages_and_routes/pages_and_routes/node_modules
04_navbar_and_links/navbar_and_links/node_modules
05_layout_file/layout/node_modules
06_styling_components/styling/node_modules
07_static_files/staticfile/node_modules
09_siteMetaData_and_pageQueries/relatedFolder/node_modules
10_staticQueries/relatedFolder/node_modules
11_source_plugins/relatedFolder/node_modules
12_markdown_and_transformer_plugins/relatedFolder/node_modules
13_listing_and_fetchingData/relatedFolder/node_modules
14_multiple_queries/relatedFolder/node_modules
15_optimized_images/relatedFolder/node_modules
16_featured_images/relatedFolder/node_modules
17_template_components/relatedFolder/node_modules
18_build_and_deploy/relatedFolder/node_modules